# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

strategy:
  matrix:
    py36_linux:
      imageName: 'ubuntu-latest'
      python.version: '3.6'
    py37_linux:
      imageName: 'ubuntu-latest'
      python.version: '3.7'
    py38_linux:
      imageName: 'ubuntu-latest'
      python.version: '3.8'
    py39_linux:
      imageName: 'ubuntu-latest'
      python.version: '3.9'
    py36_macos:
      imageName: 'macos-latest'
      python.version: '3.6'
    py37_macos:
      imageName: 'macos-latest'
      python.version: '3.7'
    py38_macos:
      imageName: 'macos-latest'
      python.version: '3.8'
    py39_macos:
      imageName: 'macos-latest'
      python.version: '3.9'

pool:
  vmImage: $(imageName)

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: python -m pip install --upgrade pip
  displayName: 'Install pip'

- script: pip install tox
  displayName: 'Install Tox'

- script: tox -epy,flake8
  displayName: 'Run Tox'
